body {
    background-color: grey;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.headerDiv {
    text-align: center;
    
}

.jumbotron {
    background-color: purple;
    padding:  50px;
    border: black solid 3px;
    text-align: center;
}

.container {
    width: 100%;
    text-align: center;
}

input {
    text-align: center;
}

footer {
    color: white;
    font-size: 20px;
}

#employeeTable {
    border: solid white 2px;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
}

th {
    background-color: teal;
    text-align: center;
    padding: 10px;
    width: 100%;
}

#employeeColumnName {
    background-color: slateblue;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

img-fluid {
    height: 250px;
}

tr {
    width: 100%;
    text-align: center;
}

thead {
    display: table-header-group;
}

.search {
    width: 25%;
    text-align: center;
}